
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="container-fluid mt-10">
                <div class="col-md-12">
                    <div class="col-md-5 text-center">
                        <label class="sknadTitle-gray-bold font-size-13"> Nội dung cũ </label>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-5 text-center">
                        <label class="sknadTitle-gray-bold font-size-13"> Nội dung mới </label>
                    </div>
                </div>
                <div class="sytClearFix dnnClear"></div>

                <div class="col-md-12">
                    <div class="col-md-5 text-center strike-col5"></div>
                    <div class="col-md-2 line-height-0 text-center">
                        <span class="font-size-15 font-weight-italic font-weight-400 color-7B ">Có thay đổi</span>
                    </div>
                    <div class="col-md-5 text-center strike-col5"></div>
                </div>
                <div class="sytClearFix dnnClear"></div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>NGƯỜI ĐƯỢC CẤP CHỨNG CHỈ</span>
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2 text-right  mt-10">
            <span class="sknadTitle-gray-normal font-size-13">
                Họ tên
            </span>
        </div>
        <div class="col-md-10">
            <div class="container-fluid mt-10">
                <div class="col-md-12 chk-parent">
                    <div class="col-md-5">
                        <span class="sknadTitle-gray-normal font-size-13" name="HoTen">
                          
                        </span>
                    </div>
                    <div class="col-md-1 line-height-0 text-center">
                        <input type="checkbox" class="chk-this" data-action="LoadText" name="HoTen" />
                    </div>
                    <div class="col-md-6">
                        <input class="width-100 syt-radius-3 min-h-30 paddingMin chk-dynamic require" name="HoTen" disabled="disabled" type="text" />
                    </div>
                </div>
                <div class="sytClearFix dnnClear"></div>
            </div>
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2 text-right  mt-10">
            <span class="sknadTitle-gray-normal font-size-13">
                Ngày sinh
            </span>
        </div>
        <div class="col-md-10">
            <div class="container-fluid mt-10">
                <div class="col-md-12 chk-parent">
                    <div class="col-md-5">
                        <span class="sknadTitle-gray-normal font-size-13"  name="NgaySinh">
                            
                        </span>
                    </div>
                    <div class="col-md-1 line-height-0 text-center">
                        <input type="checkbox" class="chk-this" data-action="LoadText" name="NgaySinh"/>
                    </div>
                    <div class="col-md-3">
                        <input class="width-100 syt-radius-3 min-h-30 paddingMin chk-dynamic" name="NgaySinh" disabled="disabled" type="text" />
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="sytClearFix dnnClear"></div>
            </div>
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2 text-right  mt-10">
            <span class="sknadTitle-gray-normal font-size-13">
                Giới tính
            </span>
        </div>
        <div class="col-md-10">
            <div class="container-fluid mt-10">
                <div class="col-md-12 chk-parent">
                    <div class="col-md-5">
                        <input type="radio" name="gioiTinh_disabled" value="1" disabled="disabled" />
                        <span class="mr-5">Nam </span>
                        <input type="radio" name="gioiTinh_disabled" value="2" disabled="disabled" />
                        <span class="mr-5">Nữ</span>
                        <input type="radio" name="gioiTinh_disabled" value="3"  disabled="disabled" />
                        <span>Không xác định</span>
                    </div>
                    <div class="col-md-1 line-height-0 text-center">
                        <input type="checkbox" class="chk-this" data-action="LoadCheckBox" name="GioiTinh"/>
                    </div>
                    <div class="col-md-6">
                        <input type="radio" name="GioiTinh" value="1" class="chk-dynamic" checked="checked" disabled="disabled" />
                        <span class="mr-5">Nam </span>
                        <input type="radio" name="GioiTinh" value="2" class="chk-dynamic" disabled="disabled" />
                        <span class="mr-5">Nữ</span>
                        <input type="radio" name="GioiTinh" value="3" class="chk-dynamic" disabled="disabled" />
                        <span>Không xác định</span>
                    </div>
                </div>
                <div class="sytClearFix dnnClear"></div>
            </div>
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2 text-right  mt-10">
            <span class="sknadTitle-gray-normal font-size-13">
                Loại giấy tờ
            </span>
        </div>
        <div class="col-md-10">
            <div class="container-fluid mt-10">
                <div class="col-md-12 chk-parent">
                    <div class="col-md-5">
                        <span class="sknadTitle-gray-normal font-size-13" name="LoaiGiayTo"> </span>
                    </div>
                    <div class="col-md-1 line-height-0 text-center">
                        <input type="checkbox" class="chk-this" data-action="LoadCombo" name="LoaiGiayTo"/>
                    </div>
                    <div class="col-md-6">
                        <select class="sknadSelect width-100 adselect chk-dynamic sl_LoaiGiayTo" disabled="disabled" name="LoaiGiayTo">
                      
                        </select>
                    </div>
                </div>
                <div class="sytClearFix dnnClear"></div>
            </div>
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2 text-right  mt-10">
            <span class="sknadTitle-gray-normal font-size-13">
                Số giấy tờ
            </span>
        </div>
        <div class="col-md-10">
            <div class="container-fluid mt-10">
                <div class="col-md-12 chk-parent">
                    <div class="col-md-5">
                        <span class="sknadTitle-gray-normal font-size-13" name="SoGiayTo"></span>
                    </div>
                    <div class="col-md-1 line-height-0 text-center">
                        <input type="checkbox" class="chk-this" data-action="LoadText" name="SoGiayTo"/>
                    </div>
                    <div class="col-md-6">
                        <input class="width-100 syt-radius-3 min-h-30 paddingMin chk-dynamic require" name="SoGiayTo" disabled="disabled" type="text" />
                    </div>
                </div>
                <div class="sytClearFix dnnClear"></div>
            </div>
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2 text-right  mt-10">
            <span class="sknadTitle-gray-normal font-size-13">
                Ngày cấp giấy tờ
            </span>
        </div>
        <div class="col-md-10">
            <div class="container-fluid mt-10">
                <div class="col-md-12 chk-parent">
                    <div class="col-md-5">
                        <span class="sknadTitle-gray-normal font-size-13" name="NgayCapGiayTo">
                            
                        </span>
                    </div>
                    <div class="col-md-1 line-height-0 text-center">
                        <input type="checkbox" class="chk-this" data-action="LoadDate" name="NgayCapGiayTo"/>
                    </div>
                    <div class="col-md-6">
                        <input class="width-100 syt-radius-3 min-h-30 paddingMin chk-dynamic" name="NgayCapGiayTo" disabled="disabled" type="text" />
                    </div>
                </div>
                <div class="sytClearFix dnnClear"></div>
            </div>
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2 text-right  mt-10">
            <span class="sknadTitle-gray-normal font-size-13">
                Nơi cấp giấy tờ
            </span>
        </div>
        <div class="col-md-10">
            <div class="container-fluid mt-10">
                <div class="col-md-12 chk-parent">
                    <div class="col-md-5">
                        <span class="sknadTitle-gray-normal font-size-13" name="NoiCapGiayTo">
                        
                        </span>
                    </div>
                    <div class="col-md-1 line-height-0 text-center">
                        <input type="checkbox" class="chk-this" data-action="LoadText" name="NoiCapGiayTo"/>
                    </div>
                    <div class="col-md-6">
                        <input class="width-100 syt-radius-3 min-h-30 paddingMin chk-dynamic"name="NoiCapGiayTo" disabled="disabled" type="text" />
                    </div>
                </div>
                <div class="sytClearFix dnnClear"></div>
            </div>
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2 text-right  mt-10">
            <span class="sknadTitle-gray-normal font-size-13">
                Địa chỉ thường trú
            </span>
        </div>
        <div class="col-md-10">
            <div class="container-fluid mt-10">
                <div class="col-md-12 chk-parent">
                    <div class="col-md-5">
                        <span class="sknadTitle-gray-normal font-size-13" name="DiaChiThuongTru">
                           <!--50/44 Nhất chi Mai, P13, Q. Tân Bình, TP HCM-->
                        </span>
                    </div>
                    <div class="col-md-1 line-height-0 text-center">
                        <input type="checkbox" class="chk-this" data-action="LoadTinhThanh" name="DiaChiThuongTru"/>
                    </div>
                    <div class="col-md-6">
                        <div class="row address-parent">
                            <div class="col-md-4 paddingMinRight paddingLeft">
                                <select class="sknadSelect width-100 adselect chk-dynamic slTinhThanh" 
                                        name="ThuongTru_TinhID"
                                        disabled="disabled"> </select>
                            </div>
                            <div class="col-md-4 nopadding-mobile mt-mobile-5 paddingMin-pc">
                                <select class="sknadSelect width-100 adselect chk-dynamic slQuanHuyen" name="ThuongTru_HuyenID" disabled="disabled">
                                </select>
                            </div>

                            <div class="col-md-4 nopadding-mobile mt-mobile-5 paddingRight paddingMinLeft">
                                <select class="sknadSelect width-100 adselect chk-dynamic slPhuongXa" name="ThuongTru_XaID" disabled="disabled"></select>
                            </div>
                            <div class="col-md-12 nopadding-mobile mt-5">
                                <input class="width-100 syt-radius-3 min-h-30 paddingMin chk-dynamic" name="ThuongTru_SoNha" disabled="disabled" type="text" placeholder="Số Nhà, đường" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sytClearFix dnnClear"></div>
            </div>
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2 text-right  mt-10">
            <span class="sknadTitle-gray-normal font-size-13">
                Chỗ ở hiện nay
            </span>
        </div>
        <div class="col-md-10">
            <div class="container-fluid mt-10">
                <div class="col-md-12 chk-parent">
                    <div class="col-md-5">
                        <span class="sknadTitle-gray-normal font-size-13" name="ChoOHienNay">
                         
                        </span>
                    </div>
                    <div class="col-md-1 line-height-0 text-center">
                        <input type="checkbox" class="chk-this" data-action="LoadTinhThanh" name="ChoOHienNay"/>
                    </div>
                    <div class="col-md-6">
                        <div class="row address-parent">
                            <div class="col-md-4 paddingMinRight paddingLeft">
                                <select class="sknadSelect width-100 adselect chk-dynamic slTinhThanh"
                                        name="ChoO_TinhID"
                                        disabled="disabled"></select>
                            </div>
                            <div class="col-md-4 nopadding-mobile mt-mobile-5 paddingMin-pc">
                                <select class="sknadSelect width-100 adselect chk-dynamic slQuanHuyen" name="ChoO_HuyenID" disabled="disabled"></select>
                            </div>
                            <div class="col-md-4 nopadding-mobile mt-mobile-5 paddingRight paddingMinLeft">
                                <select class="sknadSelect width-100 adselect chk-dynamic slPhuongXa" name="ChoO_XaID"  disabled="disabled"> </select>
                            </div>
                            <div class="col-md-12 nopadding-mobile mt-5">
                                <input class="width-100 syt-radius-3 min-h-30 paddingMin chk-dynamic" name="ChoO_SoNha"  disabled="disabled" type="text" placeholder="Số Nhà, đường" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sytClearFix dnnClear"></div>
            </div>  
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2 text-right  mt-10">
            <span class="sknadTitle-gray-normal font-size-13">
                Điện thoại
            </span>
        </div>
        <div class="col-md-10">
            <div class="container-fluid mt-10">
                <div class="col-md-12 chk-parent">
                    <div class="col-md-5">
                        <span class="sknadTitle-gray-normal font-size-13" name="DienThoai"> </span>
                    </div>
                    <div class="col-md-1 line-height-0 text-center">
                        <input type="checkbox" class="chk-this" data-action="LoadText" name="DienThoai"/>
                    </div>
                    <div class="col-md-6">
                        <input class="width-100 syt-radius-3 min-h-30 paddingMin chk-dynamic" name="Phone" disabled="disabled" type="text" />
                    </div>
                </div>
                <div class="sytClearFix dnnClear"></div>
            </div>
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2 text-right  mt-10">
            <span class="sknadTitle-gray-normal font-size-13">
                Email
            </span>
        </div>
        <div class="col-md-10">
            <div class="container-fluid mt-10">
                <div class="col-md-12 chk-parent">
                    <div class="col-md-5">
                        <span class="sknadTitle-gray-normal font-size-13" name="Email">
                      
                        </span>
                    </div>
                    <div class="col-md-1 line-height-0 text-center">
                        <input type="checkbox" class="chk-this" data-action="LoadText" name="Email"/>
                    </div>
                    <div class="col-md-6">
                        <input class="width-100 syt-radius-3 min-h-30 paddingMin chk-dynamic" name="Email" disabled="disabled" type="text" />
                    </div>
                </div>
                <div class="sytClearFix dnnClear"></div>
            </div>
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-2 text-right mt-10">
            <span class="sknadTitle-gray-normal line-height-110 font-size-13">
                Hình ảnh
            </span>
        </div>
        <div class="col-md-10">
            <div class="container-fluid mt-10">
                <div class="col-md-12 chk-parent">
                    <div class="col-md-5">
                        <div class="div-img-hinh-dai-dien">
                            <img class="syt-img-hinh-dai-dien img_old" />
                        </div>
                    </div>
                    <div class="col-md-1 text-center  line-height-110">
                        <input type="checkbox" class="chk-this  line-height-110" data-action="LoadHinhAnh" name="HinhAnh"/>
                    </div>
                    <div class="col-md-6">
                        <div class="div-upload-parent">
                            <div class="col-md-12 nopadding">
                                <div class="col-md-4 nopadding">
                                    <div class="col-md-10 div-img-hinh-dai-dien">
                                        <img class="syt-img-hinh-dai-dien" id="img-hinh-dai-dien" />
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <div class="col-md-8 nopadding">
                                    <div class="col-md-12">
                                        <div class="col-md-6 nopadding">
                                            <p class="line-height-110 upload_link btnThem_hinh_anh cursor-pointer upload-this" href="#">
                                                <u class="syt_u font-size-13 font-weight-700 syt_u_disable">
                                                    Chọn hình ảnh
                                                </u>
                                            </p>
                                            <p class="line-height-110 cursor-pointer hidden upload-xoa-hinh-anh" href="#">
                                                <u class="syt_u font-size-13 font-weight-700">
                                                    Xóa
                                                </u>
                                            </p>
                                            <input type="file" name="hinhanh" id="file_Hinh_anh" alt="Hình đại diện" disabled="disabled"
                                                   class="hidden upload upload_hinh_anh upload-destination chk-dynamic"
                                                   accept="image/*"/>
                                        </div>
                                        <div class="col-md-6"></div>
                                    </div>
                                    <div class="col-md-12 text-left">
                                        <div class="row mt-minis-50">
                                            <span class="font-size-13 color-7B">Hỗ trợ định dạng file: </span>
                                            <span class="font-size-13 color-black"> .jpg, .jpeg, .tiff, .gif, .png</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sytClearFix dnnClear"></div>
            </div>
        </div>
    </div>
</div>