<div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>THÔNG TIN ĐƯỢC CẤP</span>
        </div>
    </div>
</div>


<div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="col-md-2 text-right  mt-10 nopadding">
                <span class="sknadTitle-gray-normal font-size-13">
                    Văn bằng chuyên môn
                </span>
            </div>
            <div class="col-md-10">
                <div class="container-fluid mt-10">
                    <div class="col-md-12 chk-parent">
                        <div class="col-md-5">
                            <div class="ds_selectpicker" id="div_van_bang_truoc"></div>
                        </div>
                        <div class="col-md-1 line-height-0 text-center">
                            <input type="checkbox" class="chk-this" data-action="LoadSelectPicker" name="VanBangChuyenMon"/>
                        </div>
                        <div class="col-md-6 div_selpicker_parent">
                            <div class="col-md-12">
                                <select class="bootstrap-multiselect chk-dynamic  selectpicker_checkbox"  data-data="data_Hoat_dong_chuyen_mon"
                                        multiple name="hoat_dong_chuyen_mon" disabled="disabled"
                                       ></select>
                            </div>
                            <div class="col-md-12">
                                <div class="ds_selectpicker"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sytClearFix dnnClear"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="col-md-2 text-right  mt-10 nopadding">
                <span class="sknadTitle-gray-normal font-size-13">
                    Phạm vi hoạt động chuyên môn
                </span>
            </div>
            <div class="col-md-10">
                <div class="container-fluid mt-10">
                    <div class="col-md-12 chk-parent">
                        <div class="col-md-5">
                            <div class="ds_selectpicker" id="div_dieu_kien_truoc"></div>
                        </div>
                        <div class="col-md-1 line-height-0 text-center">
                            <input type="checkbox" class="chk-this" data-action="LoadSelectPicker" name="DieuKienHanhNghe"/>
                        </div>
                        <div class="col-md-6 div_selpicker_parent">
                            <div class="col-md-12">
                                <select class="bootstrap-multiselect chk-dynamic selectpicker_checkbox" data-data="data_Dieu_kien_hanh_nghe"
                                        multiple name="du_dieu_kien_hanh_nghe" disabled="disabled"
                                ></select>
                                @*data-width="100%"*@
                            </div>
                            <div class="col-md-12">
                                <div class="ds_selectpicker"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sytClearFix dnnClear"></div>
                </div>
            </div>
        </div>
    </div>
