<div class="div_selpicker_parent">
        <div class="col-md-12 mt-10">
            <div class="container-fluid">
                <div class="col-md-2 nopadding">
                    <div class="col-md-12  text-right syt-label nopadding">
                        <span class="sknadTitle-gray-normal font-size-13">
                            Phạm vi hoạt động chuyên môn
                        </span>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="col-md-6">
                        <select class="bootstrap-multiselect selectpicker_checkbox" 
                                multiple name="du_dieu_kien_hanh_nghe" data-data="data_Dieu_kien_hanh_nghe"
                                data-width="100%"></select>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-10">
            <div class="container-fluid">
                <div class="col-md-2 nopadding">
                    <div class="col-md-12  text-center syt-label nopadding">

                    </div>
                </div>
                <div class="col-md-10">
                    <div class="col-md-6">
                        <div class="ds_selectpicker"></div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>


