<div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>THÔNG TIN ĐƯỢC CẤP</span>
        </div>
    </div>
</div>


    <div class="div_selpicker_parent">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="col-md-2 nopadding">
                    <div class="col-md-12  text-right syt-label nopadding">
                        <span class="sknadTitle-gray-normal font-size-13">
                            Văn bằng chuyên môn
                        </span>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="col-md-6">
                        <select class="bootstrap-multiselect selectpicker_checkbox" multiple name="hoat_dong_chuyen_mon"
                                data-data="data_Hoat_dong_chuyen_mon"
                                data-width="100%"></select>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="col-md-2 nopadding">
                    <div class="col-md-12  text-center syt-label nopadding">

                    </div>
                </div>
                <div class="col-md-10">
                    <div class="col-md-6">
                        <div class="ds_selectpicker"></div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>

<div class="sytClearFix dnnClear mt-10"></div>

@Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/ChungChi/_ThongTinDuocCap_PhamViHoatDong_Share.cshtml")

   


