
@Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinHoSo/_SoCCHN_Row.cshtml")

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinNguoi/_HoTen_Row_Haft.cshtml")

            @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinNguoi/_NgaySinh_Row_Haft.cshtml")
        </div>
    </div>
</div>

@Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinNguoi/_GioiTinh_Row.cshtml")


<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">

            <div class="col-md-2  text-right syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Văn bằng chuyên môn</span>
            </div>
            <div class="col-md-2 nopadding">
                <select class="sknadSelect width-100 adselect" name="VanBangChuyenMon"></select>
            </div>
            <div class="col-md-8 nopadding">
                <label class="syt-label sknadTitle-gray-normal font-size-13 lb_van_ban_chuyen_mon"></label>
            </div>
        </div>
    </div>
</div>



