 <div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
                <span>DANH MỤC THUỐC VIỆN TRỢ, VIỆN TRỢ NHÂN ĐẠO</span>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10 div_edit_table_parent" >
            <table width="100%" class="table table-striped table-data tbl-dynamic"
                    id="tbl_vien_tro_nhan_dao" data-html="html_gen_edit_vien_tro_nhan_dao">
                <thead>
                    <tr class="font-size-13">
                        <th class="text text-left bgth">STT</th>
                        <th class="text text-left bgth">Tên thuốc, hàm lượng, dạng bào chế, quy cách đóng gói</th>
                        <th class="text text-left bgth">Đơn vị tính</th>
                        <th class="text text-left bgth">Số lượng</th>
                        <th class="text text-left bgth">Hoạt chất chính</th>
                        <th class="text text-left bgth">Hạn dùng</th>
                        <th class="text text-left bgth">Tên công ty sản xuất</th>
                        <th class="text text-left bgth">Ghi chú</th>
                        <th class="text text-left bgth">Sửa</th>
                        <th class="text text-left bgth">Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="00001/HCM-CCHN" name="000077/HCM-CCHN" class="font-size-13">
                        <td> 1 </td>
                        <td>Rhinocode Aquar</td>
                        <td>test </td>
                        <td>test </td>
                        <td>test </td>
                        <td>test </td>
                        <td>test </td>
                        <td>test </td>
                        <td class="syt-edit-btn cursor-pointer" data-id="1"
                            data-ten="Rhinocode Aquar" data-test="test"></td>
                        <td class="syt-delete-btn cursor-pointer" onclick="fn_Xoa_Trinh_Do(this)"></td>
                    </tr>
                </tbody>
            </table>
            <div class="sytClearFix dnnClear"></div>
            <div class="col-md-12 text-right  syt-label">
                <a class="cursor-pointer btn_them_edit_table">
                    Thêm mới
                </a>
            </div>
            <div class="sytClearFix dnnClear"></div>

        </div>
    </div>
</div>