
    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row mt-10 pr-15">
                <div class="col-md-2 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Số biên nhận </span>
                </div>
                <div class="col-md-2 nopadding">
                    <input class="width-100 syt-radius-3 min-h-30 paddingMin varchar" name="SoBienNhan"
                           maxlength="20"
                           type="text" />
                </div>
                <div class="col-md-2 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Ngày nhận </span>
                </div>
                <div class="col-md-2 nopadding">
                    <input class="width-100 syt-radius-3 min-h-30 paddingMin date-picker"
                          
                            name="NgayNhan" type="text" />
                </div>
                <div class="col-md-2 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Ngày hẹn trả </span>
                </div>
                <div class="col-md-2 nopadding">
                    <input class="width-100 syt-radius-3 min-h-30 paddingMin date-picker"
                           
                           name="NgayHenTra" type="text" />
                </div>
            </div>
        </div>

    </div>
