 <div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Lần cấp lại</span>
            </div>
            <div class="col-md-2 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin" min="1" step="1" max="2147483647"
                       name="LanCapLai" type="number" oninput="validity.valid||(value='');"  />
            </div>
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13 "> Ngày cấp lại</span>
            </div>
            <div class="col-md-2 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin  date-picker-ngay-cap-lai" 
                       name="NgayCapLai" type="text" />
            </div>
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Lý do cấp lại </span>
            </div>
            <div class="col-md-2 nopadding">
                <select class="sknadSelect width-100 adselect sl_LyDoCapLai" name="LyDoCapLaiId">
                </select>
            </div>
        </div>
    </div>
</div>


