

    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row mt-10 pr-15">
                <div class="col-md-2 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Đợt hội đồng </span>
                </div>
                <div class="col-md-2 nopadding">
                    <input class="width-100 syt-radius-3 min-h-30 paddingMin" name="DotHoiDong" maxlength="50" type="text" />
                </div>
                <div class="col-md-2 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Ngày hội đồng </span>
                </div>
                <div class="col-md-2 nopadding">
                    <input class="width-100 syt-radius-3 min-h-30 paddingMin date-picker" name="NgayHoiDong" type="text" />
                </div>
                <div class="col-md-2 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Ngày trình cấp </span>
                </div>
                <div class="col-md-2 nopadding">
                    <input class="width-100 syt-radius-3 min-h-30 paddingMin date-picker" name="NgayTrinhCap" type="text" />
                </div>
            </div>
        </div>
    </div>
