
<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">

        <div class="row mt-10 pr-15">
            <div class="col-md-2  text-right syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Trạng thái hồ sơ </span>
            </div>
            <div class="col-md-2 nopadding">
                <label class="sknadTitle-gray-bold font-size-13 lbl_Trang_Thai_Ho_So"> Vừa tiếp nhận </label>
            </div>
        </div>
    </div>

</div>


   