<div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>TẬP TIN ĐÍNH KÈM</span>
        </div>
    </div>
</div>
<div class="col-md-12 mt-10">
    <div class="row mt-10 pr-15">
        <div class="col-md-2 nopadding"></div>
        @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/TepDinhKem/_TapTinDinhKem_Row_Haft.cshtml")
    </div>
</div>

