    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row mt-10 pr-15  div-upload-parent">
                <div class="col-md-2  text-right syt-label">
                    <span class="sknadTitle-gray-normal line-height-110 font-size-13">
                        Hình ảnh
                    </span>
                </div>
                <div class="col-md-3 nopadding">
                    <div class="col-md-6 nopadding">
                        <div class="col-md-10 div-img-hinh-dai-dien">
                            <img class="syt-img-hinh-dai-dien" id="img-hinh-dai-dien"/>
                        </div>
                        <div class="col-md-2">
                            
                        </div>
                    </div>
                    <div class="col-md-4 nopadding">
                        <p class="line-height-110 upload_link btnThem_hinh_anh cursor-pointer upload-this" href="#">
                            <u class="syt_u font-size-13 font-weight-700">
                                Chọn hình ảnh
                            </u>
                        </p>

                        <p class="line-height-110 cursor-pointer hidden upload-xoa-hinh-anh" href="#">
                            <u class="syt_u font-size-13 font-weight-700">
                                Xóa
                            </u>
                        </p>

                        <input type="file" name="hinhanh" id="file_Hinh_anh" alt="Hình đại diện"
                               class="hidden upload upload_hinh_anh upload-destination"
                               accept="image/*"/>
                    </div>
                </div>
                <div class="col-md-5 text-left">
                    <div class="row line-height-110">
                        <span class="font-size-13 color-7B" >Hỗ trợ định dạng file: </span>
                        <span class="font-size-13 color-black" > .jpg, .jpeg, .tiff, .gif, .png</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



