<div class="col-md-10  div-upload-parent">
    <div class="col-md-12">
        <span class="font-size-13 color-7B" >Hỗ trợ định dạng tập tin: </span>
        <span class="font-size-13 color-black" >.doc, .docx, .xls ,.xlsx ,.pdf, .jpg, .jpeg, .tiff, .gif, .png , .sig , .enc </span>
    </div>
    <div class="col-md-2">
        <p class="upload_link btnThem_tap_dinh_kem cursor-pointer upload-this">
            <u class="syt_u font-size-13 font-weight-700">
                Thêm tập tin
            </u>
        </p>
        <input type="file" name ="file" onchange="previewTapDinhKem()" id="file_Dinh_kem"
               class="hidden upload upload_tap_dinh_kem upload-destination" multiple
        accept=".doc,.docx, .xls, .xlsx, .pdf, .jpg, .jpeg, .png, .tiff, .gif, .sig, .enc"
               />
    </div>
    <div class="col-md-10"></div>

    <div class="col-md-12 div_lst_tap_dinh_kem">

    </div>
</div>