<div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>THÔNG TIN SẢN PHẨM</span>
        </div>
    </div>
</div>
<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2  text-right syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Nhãn hàng</span>
            </div>
            <div class="col-md-4 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin"
                       name="NgayCapGiayPhep" type="text" />
            </div>
        </div>
    </div>
</div>
<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2  text-right syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Tên sản phẩm</span>
            </div>
            <div class="col-md-4 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin"
                       name="NgayCapGiayPhep" type="text" />
            </div>
        </div>
    </div>
</div>
<div class="sytClearFix dnnClear"></div>
<div class="div_selpicker_parent">
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row mt-10 pr-15">
                <div class="col-md-2">
                    <div class="col-md-12  text-right syt-label">
                        <span class="sknadTitle-gray-normal font-size-13">
                            Dạng sản phẩm
                        </span>
                    </div>
                </div>
                <div class="col-md-4 nopadding">
                    <select class="selectpicker selectpicker_checkbox" multiple
                            name="PhamViKinhDoanh" data-data="data_Dang_san_pham"
                            data-width="100%"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row mt-10 pr-15">
                <div class="col-md-2">

                </div>
                <div class="col-md-10 nopadding">
                    <div class="col-md-6">
                        <div class="ds_selectpicker"></div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sytClearFix dnnClear mt-10"></div>
</div>