 <div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>THÔNG TIN CÔNG BỐ</span>
        </div>
    </div>
</div>

@Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinHoSo/_SoBienNhan_Row.cshtml")
@Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinHoSo/_TrangThaiHoSo_Row.cshtml")

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2  text-right syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Số công bố </span>
            </div>
            <div class="col-md-2 nopadding">
                    <input class="width-100 syt-radius-3 min-h-30 paddingMin background-require require"
                           name="SoGiayChungNhan" type="text" />
            </div>
            <div class="col-md-2  text-right syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Thời hạn </span>
            </div>
            <div class="col-md-2 nopadding">
                <select class="sknadSelect width-100 adselect">
                    <option class="sknadTitle-gray-normal font-size-13"> --//-- </option>
                    <option class="sknadTitle-gray-normal font-size-13"> 3 năm </option>
                    <option class="sknadTitle-gray-normal font-size-13"> 5 năm </option>
                </select>
            </div>
        </div>
    </div>
</div>




