<div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>BÀN KÊ KHAI TRANG THIẾT BỊ</span>
        </div>
    </div>
</div>


<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-10 div_edit_table_parent">
        <table width="100%" class="table table-striped table-data tbl-dynamic"
               id="tbl_TrangThietBi" data-html="html_gen_edit_trang_thiet_bi"
               data-add="XyLyThemDivTrangThietBi"  data-save="XyLySaveTrangThietBi"
              data-get="XyLyGetTblTrangThietBi">
            <thead>
            <tr class="font-size-13">
                <th class="text text-left bgth">Tên thiết bị</th>
                <th class="text text-left bgth">Ký hiệu thiết bị</th>
                <th class="text text-left bgth">Hãng sản xuất</th>
                <th class="text text-left bgth">Nước sản xuất</th>
                <th class="text text-left bgth">Năm sản xuất </th>
                <th class="text text-left bgth">Tình trạng sử dụng</th>
                <th class="text text-left bgth">Bảo dưỡng/ Hiệu chuẩn</th>
                <th class="text text-left bgth">Ghi chú</th>
                <th class="text text-left bgth">Sửa</th>
                <th class="text text-left bgth">Xóa</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="sytClearFix dnnClear"></div>
        <div class="col-md-12 text-right  syt-label">
            <a class="cursor-pointer btn_them_edit_table mr-19">
                Thêm mới
            </a>
        </div>
    </div>
</div>


