<div class="col-md-2 text-right  syt-label">
    <span class="sknadTitle-gray-normal font-size-13"> Ngày cấp </span>
</div>
<div class="col-md-2 nopadding">
    <input class="width-100 syt-radius-3 min-h-30 paddingMin date-picker dpk_NgayCap" name="NgayCap" type="text" />
</div>
<div class="col-md-2 text-right  syt-label">
    <span class="sknadTitle-gray-normal font-size-13"> Thời hạn </span>
</div>
<div class="col-md-2 nopadding">
    <select class="sknadSelect width-100 adselect" name="ThoiHan"></select>
</div>
