 <div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>DANH SÁCH GÓI THẦU</span>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label"></div>
            <div class="col-md-10 nopadding div_edit_table_parent">
                <table width="100%" class="table table-striped table-data tbl-dynamic"
                       id="tbl_danh_sach_goi_thau" data-html="html_gen_edit_danh_sach_goi_thau">
                    <thead>
                        <tr class="font-size-13">
                            <th class="text text-left bgth"> STT </th>
                            <th class="text text-left bgth"> Tên gói thầu</th>
                            <th class="text text-left bgth">Giá gói thầu (triệu đồng)</th>
                            <th class="text text-left bgth">Hình thức lựa chọn nhà thầu</th>
                            <th class="text text-left bgth">Phương thức lựa chọn nhà thầu</th>
                            <th class="text text-left bgth">Thời gian bắt đầu tổ chức lựa chọn nhà thầu</th>
                            <th class="text text-left bgth">Loại hợp đồng</th>
                            <th class="text text-left bgth">Thời gian thực hiện hợp đồng</th>
                            <th class="text text-left bgth">Sửa</th>
                            <th class="text text-left bgth">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="font-size-13">
                            <td> 1 </td>
                            <td>Thầu lớn</td>
                            <td>500 Mê</td>
                            <td> Ngẫu nhiên </td>
                            <td>Công Khai</td>
                            <td>từ nay đến Tết</td>
                            <td> Cho mượn </td>
                            <td>Hết Tết</td>
                            <td class="syt-edit-btn cursor-pointer" data-id="1"
                                data-ten-goi="Thầu lớn" data-gia-goi="500 Mê" 
                                data-hinh-thuc="Ngẫu nhiên" data-phuong-thuc="Công Khai"
                                data-thoigian-start="từ nay đến Tết" 
                                data-loai="Cho mượn" data-thoigian-hd="Hết Tết"
                                >
                                <span class="syt-delete-btn cursor-pointer"></span>
                            </td>
                            <td class="syt-delete-btn cursor-pointer" title="Xóa" onclick="fn_Xoa_Cong_Tac(this)"></td>
                        </tr>
                    </tbody>
                </table>

                <div class="sytClearFix dnnClear"></div>

                <div class="col-md-12 text-right  syt-label">
                    <a class="cursor-pointer btn_them_edit_table">
                        Thêm mới
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>