<div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>Dự Toán Mua Sắm</span>
        </div>
    </div>
</div>
<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Tiêu đề </span>
            </div>
            <div class="col-md-4 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin" type="text" />
            </div>
        </div>
    </div>
</div>
<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Chủ đầu tư </span>
            </div>
            <div class="col-md-4 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin" type="text" />
            </div>
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Tổng chí phí </span>
            </div>
            <div class="col-md-4 nopadding">
                <input class="width-70 syt-radius-3 min-h-30" type="text" />
                <span class="sknadTitle-gray-normal font-size-13 ml-5"> triệu đồng </span>
            </div>
        </div>
    </div>
</div>
<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Nguồn vốn </span>
            </div>
            <div class="col-md-4 nopadding">
             <textarea rows="4" class="width-100"></textarea>
            </div>
        </div>
    </div>
</div>


