 <div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>THÔNG TIN QUYẾT ĐỊNH</span>
        </div>
    </div>
</div>

@Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinHoSo/_SoBienNhan_Row.cshtml")
@Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinHoSo/_TrangThaiHoSo_Row.cshtml")

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2  text-right syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Đơn vị trình </span>
            </div>
            <div class="col-md-2 nopadding">
                    <input class="width-100 syt-radius-3 min-h-30 paddingMin"
                           name="DonViTrinh" type="text" />
            </div>
            <div class="col-md-2  text-right syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Số tờ trình </span>
            </div>
            <div class="col-md-2 nopadding">
                    <input class="width-100 syt-radius-3 min-h-30 paddingMin"
                           name="DonViTrinh" type="text" />
            </div>
            <div class="col-md-2  text-right syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Ngày trình </span>
            </div>
            <div class="col-md-2 nopadding">
                    <input class="width-100 syt-radius-3 min-h-30 paddingMin"
                           name="DonViTrinh" type="text" />
            </div>
        </div>
    </div>
</div>
<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2  text-right syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Số quyết định </span>
            </div>
            <div class="col-md-2 nopadding">
                    <input class="width-100 syt-radius-3 min-h-30 paddingMin background-require require"
                           name="SoGiayPhep" type="text" />
            </div>
            <div class="col-md-2  text-right syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Ngày quyết định </span>
            </div>
            <div class="col-md-2 nopadding">
                    <input class="width-100 syt-radius-3 min-h-30 paddingMin"
                           name="NgayCapGiayPhep" type="text" />
            </div>
        </div>
    </div>
</div>



