 <div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>THÔNG TIN GIẤY PHÉP</span>
        </div>
    </div>
</div>
@Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinHoSo/_SoBienNhan_Row.cshtml")
@Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinHoSo/_TrangThaiHoSo_Row.cshtml")
<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2  text-right syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Số giấy phép </span>
            </div>
            <div class="col-md-2 nopadding">
                <div class="syt-dynamic-div syt-dnm-lv1-tt16">
                    <div class="col-md-11 col-sm-11 col-xs-11 nopadding">
                        <input class="width-100 syt-radius-3 min-h-30 paddingMin background-require syt-dynamic-field syt-dnm-lv1-tt2 syt-dnm-lv1-tt3"
                               name="SoGiayPhep" type="text" />
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1 nopadding relative">
                        <span class="glyphicon glyphicon-search font-size-16 cursor-pointer syt-icon-search"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-2  text-right syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Ngày cấp </span>
            </div>
            <div class="col-md-2 nopadding">
                <div class="">
                    <input class="width-100 syt-radius-3 min-h-30 paddingMin"
                           name="NgayCapGiayPhep" type="text" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="syt-dynamic-div syt-dnm-lv1-tt16">
    @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinHoSo/_SoLanCapLai_Row.cshtml")
</div>
