<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>CHỨNG TỪ KÈM THEO</span>
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div  class="container-fluid div_ho_so_kem_theo">
                <table width="100%" class="table table-striped table-data">
                    <thead>
                        <tr>
                            <th class="text text-center bgth font-size-13" width="3%">STT</th>
                            <th class="text text-center bgth font-size-13" width="30%">Tên chứng từ kèm theo</th>
                            <th class="text text-center bgth font-size-13" width="10%"> Số bản chính  </th>
                            <th class="text text-center bgth font-size-13" width="10%">Số bản sao</th>
                            <th class="text text-center bgth font-size-13" width="10%">Số bản photo</th>
                            <th class="text text-center bgth font-size-13" width="15%">Ghi chú</th>
                            <th class="text text-center bgth font-size-13 ">Tập tin kính kèm</th>
                            <th class="text text-center bgth font-size-13 " width="3%">Xóa</th>
                        </tr>
                    </thead>
                    <tbody class="font-size-13"></tbody>
                </table>
            </div>
        </div>
        <div class="syt-content-div-icon-search">
            <div class="col-md-12" style="float:right">
                    <div class="row">
                        <div class="col-md-11 paddingMin">
                        </div>
                        <div class="col-md-1 paddingMin">
                            <a href="javascript:void(0)"> <span class="font-size-13 strike a_them_moi_kem_theo_index" style="text-align:right">Thêm mới </span></a>
                        </div>

                    </div>
                <div class="col-md-2"> </div>
            </div>
        </div>
    </div>
</div>
<!--Dev js-->
<script src="~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Script/MotCua/motcua.hosotiepnhan.hosokemtheo.min.js?v=1.0.0"></script>
<!---->
