<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>NGƯỜI NỘP HỒ SƠ</span>
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Họ tên người nộp <span style="color:#FF0000;">*</span></span>
            </div>
            <div class="col-md-2 paddingMin">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin require" name="HoTenNguoiNop" type="text" />
            </div>
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Ngày sinh </span>
            </div>
            <div class="col-md-2 paddingMin">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin date-picker-ngay-sinh"
                       name="NgaySinh" type="text" maxlength="10" />
            </div>
        </div>
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Giới tính </span>
            </div>
            <div class="col-md-10 paddingMin rd_gioi_tinh">
            </div>
        </div>
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Loại giấy tờ </span>
            </div>
            <div class="col-md-10 paddingMin rd_loai_giay_to">
            </div>
        </div>
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Số giấy tờ <span style="color:#FF0000;">*</span></span>
            </div>
            <div class="col-md-2 paddingMin">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin require" name="SoGiayTo" type="text"  />
            </div>
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Ngày cấp giấy tờ </span>
            </div>
            <div class="col-md-2 paddingMin">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin date-picker-ngay-cap"
                       name="NgayCap" type="text" />
            </div>
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Nơi cấp giấy tờ </span>
            </div>
            <div class="col-md-2 paddingMin">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin" name="NoiCap" type="text" />
            </div>
        </div>
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Địa chỉ thường trú</span>
            </div>
            <div class="col-md-2 paddingMin">
                <select class="sknadSelect width-100 adselect sl_thuong_tru_tinh_index paddingMin" name="ThuongTruTinh"></select>
            </div>
            <div class="col-md-2 paddingMin">
                <select class="sknadSelect width-100 adselect sl_thuong_tru_huyen_index paddingMin" name="ThuongTruHuyen"></select>
            </div>
            <div class="col-md-2 paddingMin">
                <select class="sknadSelect width-100 adselect sl_thuong_tru_phuong_index paddingMin" name="ThuongTruPhuong"></select>
            </div>
            <div class="col-md-4 paddingMin">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin" name="ThuongTruSoNha" type="text" placeholder="Số nhà, đường" />
            </div>
        </div>
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Chỗ ở hiện nay</span>
            </div>
            <div class="col-md-2 paddingMin">
                <select class="sknadSelect width-100 adselect sl_hien_nay_tinh_index paddingMin" name="HienNayTinh">
                </select>
            </div>
            <div class="col-md-2 paddingMin">
                <select class="sknadSelect width-100 adselect sl_hien_nay_huyen_index paddingMin" name="HienNayHuyen"></select>
            </div>
            <div class="col-md-2 paddingMin">
                <select class="sknadSelect width-100 adselect sl_hien_nay_phuong_index paddingMin" name="HienNayPhuong"></select>
            </div>
            <div class="col-md-4 paddingMin">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin" name="HienNaySoNha" type="text" placeholder="Số nhà, đường" />
            </div>
        </div>
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Điện thoại </span>
            </div>
            <div class="col-md-4 paddingMin">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin" name="DienThoai" type="text" />
            </div>
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Email </span>
            </div>
            <div class="col-md-4 paddingMin div-email">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin email" name="Email" type="text" />
            </div>
        </div>
    </div>
</div>
<!--Dev js-->
<script src="~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Script/MotCua/motcua.hosotiepnhan.nguoinophoso.min.js?v=1.0.0"></script>
<!---->