<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>THÔNG TIN KHÁC</span>
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Trình độ chuyên môn</span>
            </div>
            <div class="col-md-2 paddingMin">
                <select class="sknadSelect width-100 adselect sl_trinh_do_chuyen_mon_index paddingMin" name="TrinhDoChuyenMon"></select>
            </div>
           
        </div>
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13" style="margin-left:-25px"> Hình thức tổ chức/ kinh doanh</span>
            </div>
            <div class="col-md-2 paddingMin">
                <select class="sknadSelect width-100 adselect sl_hinh_thuc_to_chuc_index paddingMin" name="HinhThucToChuc"></select>
            </div>

        </div>
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Nơi nhận kết quả </span>
            </div>
            <div class="col-md-10 paddingMin rd_noi_nhan_ket_qua">
            </div>
        </div>
    </div>
</div>
<!--Dev js-->
<script src="~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Script/MotCua/motcua.hosotiepnhan.thongtinkhac.min.js?v=1.0.0"></script>
<!---->