 <div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>CÔNG TY CUNG ỨNG</span>
        </div>
    </div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="div_selpicker_parent">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2 nopadding">
                <div class="col-md-12  text-right syt-label">
                    <span class="sknadTitle-gray-normal font-size-13">
                        Tên công ty
                    </span>
                </div>
            </div>
            <div class="col-md-6 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin"
                       name="SoGuiDuyet" type="text" />
            </div>
        </div>
    </div>
    
</div>