 <div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
                <span>DANH SÁCH THUỐC</span>
        </div>
    </div>
</div>



<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2">
                
            </div>
            <div class="col-md-10 nopadding div_edit_table_parent">
                <table width="100%" class="syt-table tbl-dynamic"
                       id="tbl_danh_sach_thuoc_du_tru_tam_than" data-html="html_gen_edit_danh_sach_thuoc_du_tru_tam_than">
                    <thead>
                    <tr class="font-size-13">
                        <th rowspan="2" class="text text-center bgth"> STT</th>
                        <th rowspan="2" class="text text-center bgth">Tên thuốc, nồng độ, hàm lượng</th>
                        <th rowspan="2" class="text text-center bgth">Đơn vị tính</th>
                        <th colspan="5" class="text text-center bgth">Phần báo cáo kỳ trước</th>
                        <th rowspan="2" class="text text-center bgth"> Số lượng dự trù</th>
                        <th rowspan="2" class="text text-center bgth">Duyệt</th>
                        <th rowspan="2" class="text text-center bgth">Ghi chú</th>
                        <th  rowspan="2"  class="text text-center bgth">Sửa</th>
                        <th  rowspan="2" class="text text-center bgth">Xóa</th>
                    </tr>
                    <tr class="font-size-13">
                        <th  class="text text-center bgth">Số lượng tồn kho kỳ trước</th>
                        <th class="text text-center bgth">Số lượng nhập trong kỳ</th>
                        <th class="text text-center bgth">Tổng số</th>
                        <th class="text text-center bgth">Tổng số xuất trong kỳ</th>
                        <th class="text text-center bgth">Tồn kho cuối kỳ</th>
                    </tr>
                    <tr class="font-size-11 font-weight-400">
                        <td class="text text-center">(1)</td>
                        <td class="text text-center">(2)</td>
                        <td class="text text-center">(3)</td>
                        <td class="text text-center">(4)</td>
                        <td class="text text-center">(5)</td>
                        <td class="text text-center">(6)</td>
                        <td class="text text-center">(7)</td>
                        <td class="text text-center">(8)</td>
                        <td class="text text-center">(9)</td>
                        <td class="text text-center">(10)</td>
                        <td class="text text-center">(11)</td>
                        <td></td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="font-size-13">
                        <td> 1 </td>
                        <td>  Penicilin</td>
                        <td>test </td>
                        <td>test </td>
                        <td>test </td>
                        <td>test </td>
                        <td>test </td>
                        <td>test </td>
                        <td>test </td>
                        <td>test </td>
                        <td>test </td>
                      
                        <td class="syt-edit-btn cursor-pointer" data-id="1"
                            data-ten="Penicilin" data-test="test" >
                            <span class="syt-delete-btn cursor-pointer"></span>
                        </td>
                        <td class="syt-delete-btn cursor-pointer" title="Xóa" onclick="fn_Xoa_Cong_Tac(this)"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="sytClearFix dnnClear"></div>
                <div class="col-md-12 text-right  syt-label">
                    <a class="cursor-pointer btn_them_edit_table">
                        Thêm mới
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>