<div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>NGƯỜI ĐƯỢC CẤP CHỨNG NHẬN</span>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13">
                    Họ tên
                </span>
            </div>
            <div class="col-md-2 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin" type="text" />
            </div>
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13">Ngày sinh  </span>
            </div>
            <div class="col-md-2 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin" type="text" />
            </div>
        </div>
    </div>

    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Giới tính </span>
            </div>
            <div class="col-md-3 nopadding">
                <input type="radio" name="gioi_tinh_quang_cao" checked="checked" />
                <span class="mr-5">Nam </span>
                <input type="radio" name="gioi_tinh_quang_cao" />
                <span class="mr-5">Nữ</span>
                <input type="radio" name="gioi_tinh_quang_cao" />
                <span>Không xác định</span>
            </div>
        </div>
    </div>

    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Loại giấy tờ </span>
            </div>
            <div class="col-md-6 nopadding">
                <input type="radio" name="lgt_quang_cao" value="cmnd" />
                <span class="mr-10">Chứng minh nhân dân</span>
                <input type="radio" name="lgt_quang_cao" />
                <span class="mr-10">Hộ chiếu</span>
                <input type="radio" name="lgt_quang_cao" />
                <span class="mr-10">Căn cước công dân</span>
                <input type="radio" name="lgt_quang_cao" value="khac" />
                <span class="mr-10">Khác</span>
            </div>
        </div>
    </div>

    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13">
                    Số giấy tờ
                </span>
            </div>
            <div class="col-md-2 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin" type="text" />
            </div>
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13">Ngày cấp  </span>
            </div>
            <div class="col-md-2 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin" type="text" />
            </div>
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13">Nơi cấp </span>
            </div>
            <div class="col-md-2 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin" type="text" />
            </div>
        </div>
    </div>

    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Điện thoại  </span>
            </div>
            <div class="col-md-2 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin" type="text" />
            </div>
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13">Email  </span>
            </div>
            <div class="col-md-2 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin" type="text" />
            </div>
        </div>
    </div>
    

    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Địa chỉ </span>
            </div>
            <div class="col-md-2 nopadding text-center">
                <select class="sknadSelect width-100 adselect">
                    <option class="sknadTitle-gray-normal font-size-13"> --//-- </option>
                    <option class="sknadTitle-gray-normal font-size-13"> Tỉnh An giang </option>
                    <option class="sknadTitle-gray-normal font-size-13"> Tỉnh Đồng Nai </option>
                </select>
            </div>
            <div class="col-md-2 text-center">
                <select class="sknadSelect width-100 adselect">
                    <option class="sknadTitle-gray-normal font-size-13"> --//-- </option>
                    <option class="sknadTitle-gray-normal font-size-13"> Tỉnh An giang </option>
                    <option class="sknadTitle-gray-normal font-size-13"> Tỉnh Đồng Nai </option>
                </select>
            </div>
            <div class="col-md-2 nopadding text-center">
                <select class="sknadSelect width-100 adselect">
                    <option class="sknadTitle-gray-normal font-size-13"> --//-- </option>
                    <option class="sknadTitle-gray-normal font-size-13"> Tỉnh An giang </option>
                    <option class="sknadTitle-gray-normal font-size-13"> Tỉnh Đồng Nai </option>
                </select>
            </div>
            <div class="col-md-4 paddingLeft">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin" type="text" placeholder="Số Nhà, đường" />
            </div>
        </div>
    </div>
    
</div>

