

    <div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
        <div class="container-fluid">
    
            <div class="row mt-10 pr-15">
                <div class="col-md-2 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Giới tính </span>
                </div>
                <div class="col-md-3 nopadding radio_parent">
                    <input type="radio" name="gioi_tinh" value="1" checked="checked"/>
                    <span class="mr-5">Nam </span>
                    <input type="radio" value="2" name="gioi_tinh"/>
                    <span class="mr-5">Nữ</span>
                    <input type="radio" value="3" name="gioi_tinh"/>
                    <span>Không xác định</span>
                </div>
            </div>
        </div>
</div>

