
<div class="col-md-2 text-right  syt-label">
    <span class="sknadTitle-gray-normal font-size-13">
        Họ tên
        <span class="color-red">*</span>
    </span>
</div>
<div class="col-md-2 nopadding">
    <input class="width-100 syt-radius-3 min-h-30 paddingMin require" name="HoTenRequire" type="text" />
</div>

