

 

    <div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
        <div class="container-fluid">
    
            <div class="row mt-10 pr-15">
                <div class="col-md-2 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Loại giấy tờ </span>
                </div>
                <div class="col-md-6 nopadding radio_parent">
                    <input type="radio"  value="1" name="lgt"/>
                    <span class="mr-10">Chứng minh nhân dân</span>
                    <input type="radio" value="2" name="lgt"/>
                    <span class="mr-10">Hộ chiếu</span>
                    <input type="radio" value="3" name="lgt"/>
                    <span class="mr-10">Căn cước công dân</span>
                    <input type="radio" value="4" name="lgt"/>
                    <span class="mr-10">Khác</span>
                </div>
            </div>
        </div>
</div>
    
   