
<div class="col-md-2 text-right  syt-label">
    <span class="sknadTitle-gray-normal font-size-13"> Ngày sinh </span>
</div>
<div class="col-md-2 nopadding">
    <input class="width-100 syt-radius-3 min-h-30 paddingMin ngaySinh"
           name="NgaySinh" type="text" />
</div>
<div class="col-md-4 paddingMin line-height-30">
    <span class="font-size-13 color-7B">Hỗ trợ định dạng: </span>
    <span class="font-size-13 color-black">yyyy; dd/MM/yyyy ; MM/yyyy </span>
</div>