

            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13">Ngày cấp </span>
            </div>
            <div class="col-md-2 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin  date-picker-ngay-cap" 
                        name="NgayCapGiayTo" type="text" />
            </div>
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13">Nơi cấp </span>
            </div>
            <div class="col-md-2 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin"
                       maxlength="200"
                       name="NoiCapGiayTo" type="text" />
            </div>
