<div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>THÔNG TIN NGƯỜI ĐƯỢC CẤP</span>
        </div>
    </div>
</div>

@Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/ChungChi/_NguoiDuocCapTinChi_Form_Share.cshtml")
@Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/HoSo/ChungChi/_ThongTinDuocCap_PhamViHoatDong_Share.cshtml")


