 <div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>DANH MỤC THUỐC ĐĂNG KÝ HỘI THẢO</span>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">

            </div>
            <div class="col-md-10 nopadding div_edit_table_parent">
                <table width="100%" class="table table-striped table-data tbl-dynamic"
                       id="tbl_danh_sach_thuoc_dang_ky" data-html="html_gen_edit_danh_sach_thuoc_dang_ky">
                    <thead>
                        <tr class="font-size-13">
                            <th class="text text-left bgth"> STT </th>
                            <th class="text text-left bgth"> Tên thuốc</th>
                            <th class="text text-left bgth">Số đăng ký</th>
                            <th class="text text-left bgth">Đối tượng</th>
                            <th class="text text-left bgth">Lần thứ</th>
                            <th class="text text-left bgth">Sửa</th>
                            <th class="text text-left bgth">Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="font-size-13">
                            <td> 1 </td>
                            <td>Penicilin</td>
                            <td>sđk2019</td>
                            <td> Chuyên Gia về thuốc </td>
                            <td>thứ 6</td>
                            <td class="syt-edit-btn cursor-pointer" data-id="1"
                                data-ten-thuoc="Penicilin" data-so-dk="sđk2019" 
                               data-doi-tuong="Chuyên Gia về thuốc"   data-thoi-gian="thứ 6">
                                <span class="syt-delete-btn cursor-pointer"></span>
                            </td>
                            <td class="syt-delete-btn cursor-pointer" title="Xóa" onclick="fn_Xoa_Cong_Tac(this)"></td>
                        </tr>
                    </tbody>
                </table>

                <div class="sytClearFix dnnClear"></div>

                <div class="col-md-12 text-right  syt-label">
                    <a class="cursor-pointer btn_them_edit_table">
                        Thêm mới
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>