 <div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>ĐỊA ĐIỂM VÀ THỜI GIAN TỔ CHỨC HỘI THẢO</span>
        </div>
    </div>
</div>


<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Địa điểm </span>
            </div>
            <div class="col-md-4 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin" name="DiaDiem" type="text" />
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2 text-right  syt-label">
                <span class="sknadTitle-gray-normal font-size-13">Thời gian </span>
            </div>
            <div class="col-md-2 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin date-time-picker" name="ThoiGian" type="text" />
            </div>
        </div>
    </div>
</div>




