 <div class="syt-content-div-icon-search">
    <div class="sytClearFix-19 dnnClear "></div>
    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2 paddingMin">
                    <input class="cursor-pointer sytButton sknadTitle-white width-100"
                           type="button" value="Lưu" />
                </div>
                <div class="col-md-2 paddingMin">
                    <input type="button" class="cursor-pointer sknadButtonExport width-100 font-weight-700"
                           value="Xóa" />
                </div>
                <div class="col-md-2 paddingMin">
                    <input type="button" class="cursor-pointer sknadButtonExport width-100 font-weight-700"
                           value="In văn bản" />
                </div>
                <div class="col-md-2 paddingMin  paddingTop-12">    
                    <a href="/nganh-y" 
                       class="syt-a-button syt-button-white sknadButtonExport width-100">
                        Trở về
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>