<div class="col-md-12 mt-10">
    <div class="container-fluid">
        <div class="row">
            <div class="paddingLeft-50-pc">
                <div class="col-md-2  text-right syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Số biên nhận: </span>
                </div>
                <div class="col-md-2 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700"> 400000 </span>
                </div>
                <div class="col-md-2  text-right syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Ngày tiếp nhận: </span>
                </div>
                <div class="col-md-2 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700"> 25/05/2017 </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 mt-10">
    <div class="container-fluid">
        <div class="row">
            <div class="paddingLeft-50-pc">
                <div class="col-md-2  text-right syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Số chứng chỉ: </span>
                </div>
                <div class="col-md-2 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700 color-blue"> 400000 </span>
                </div>
                <div class="col-md-2  text-right syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Ngày cấp: </span>
                </div>
                <div class="col-md-2 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700"> 25/05/2017 </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 mt-10">
    <div class="container-fluid">
        <div class="row">
            <div class="paddingLeft-50-pc">
                <div class="col-md-2  text-right syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Số quyết định: </span>
                </div>
                <div class="col-md-2 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700"> 400000 </span>
                </div>
                <div class="col-md-2  text-right syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Ngày quyết định: </span>
                </div>
                <div class="col-md-2 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700"> 25/05/2017 </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 mt-10">
    <div class="container-fluid">
        <div class="row">
            <div class="paddingLeft-50-pc">
                <div class="col-md-2  text-right syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Họ tên: </span>
                </div>
                <div class="col-md-2 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700"> Trương ngọc nam </span>
                </div>
                <div class="col-md-2  text-right syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Số CMND: </span>
                </div>
                <div class="col-md-1 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700"> 25/05/2017 </span>
                </div>
                <div class="col-md-2  text-center syt-label nopadding">
                    <span class="sknadTitle-gray-normal font-size-13"> Ngày cấp CMND: </span>
                </div>
                <div class="col-md-1 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700"> 25/05/2017 </span>
                </div>
                <div class="col-md-1  text-left syt-label nopadding">
                    <span class="sknadTitle-gray-normal font-size-13"> Nơi cấp: </span>
                </div>
                <div class="col-md-1 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700"> 25/05/2017 </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 mt-10">
    <div class="container-fluid">
        <div class="row">
            <div class="paddingLeft-50-pc">
                <div class="col-md-2  text-right syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Địa chỉ thường trú: </span>
                </div>
                <div class="col-md-6 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700"> 14/3, Bến Cá, Phương Sài, Nha Trang, tỉnh Khánh Hòa </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 mt-10">
    <div class="container-fluid">
        <div class="row">
            <div class="paddingLeft-50-pc">
                <div class="col-md-2  text-right syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Chỗ ở hiện nay: </span>
                </div>
                <div class="col-md-6 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700">
                        Tổ 1, ấp Hoà Bình, Xã Vĩnh Thanh, Huyện Nhơn Trạch, Đồng Nai
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 mt-10">
    <div class="container-fluid">
        <div class="row">
            <div class="paddingLeft-50-pc">
                <div class="col-md-2  text-right syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Điện thoại: </span>
                </div>
                <div class="col-md-2 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700">
                        0905203654
                    </span>
                </div>
                <div class="col-md-2  text-right syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Email: </span>
                </div>
                <div class="col-md-2 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700">
                        ngocnamtruong@gmail.com
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-12 mt-10">
    <div class="container-fluid">
        <div class="row">
            <div class="paddingLeft-50-pc">
                <div class="col-md-2  text-right syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Văn bằng chuyên môn: </span>
                </div>
                <div class="col-md-2 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700">
                        Bác sỹ
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 mt-10">
    <div class="container-fluid">
        <div class="row">
            <div class="paddingLeft-50-pc">
                <div class="col-md-2  text-center syt-label nopadding">
                    <span class="sknadTitle-gray-normal font-size-13">Nơi thực hành chuyên môn: </span>
                </div>
                <div class="col-md-2 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700">
                        Bệnh viện
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-md-12 mt-10">
        <div class="row">
            <div class="paddingLeft-50-pc">
                <div class="col-md-2  text-left syt-label nopadding">
                    <span class="sknadTitle-gray-normal font-size-13">Phạm vi hoạt động chuyên môn: </span>
                </div>
                <div class="col-md-4 paddingMin">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700 line-height-1_1-Em">
                        
                        - Khám bệnh, chữa bệnh chuyên khoa mắt <br /> 

                        - Khám bệnh, chữa bệnh chuyên khoa mũi họng
                    </span>
                </div>
            </div>
        </div>
</div>


<div class="col-md-12 mt-10">
    <div class="container-fluid">
        <div class="row">
            <div class="paddingLeft-50-pc">
                <div class="col-md-2  text-right syt-label">
                    <span class="sknadTitle-gray-normal font-size-13">Đủ điều kiện hành nghề: </span>
                </div>
                <div class="col-md-4 nopadding">
                    <span class="sknadTitle-gray-normal font-size-13 font-weight-700 line-height-1_1-Em">
                        - Y tư nhân<br /> 

                        - Khám bệnh, chữa bệnh
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

