
<div class="col-md-4 paddingLeft">
    <input class="width-100 syt-radius-3 min-h-30 paddingMin" name="SoNha02" 
           maxlength="200"
           type="text" placeholder="Số Nhà, đường" />
</div>

