


<div class="address-parent">
    <div class="col-md-2 nopadding text-center">
        <select class="sknadSelect width-100 adselect slTinhThanh" name="TinhThanh04">
        </select>
    </div>
    <div class="col-md-2 text-center">
        <select class="sknadSelect width-100 adselect slQuanHuyen" name="QuanHuyen04">
        </select>
    </div>
    <div class="col-md-2 nopadding text-center">
        <select class="sknadSelect width-100 adselect slPhuongXa" name="PhuongXa04">
        </select>
    </div> 
</div>
        


