


<div class="address-parent">
    <div class="col-md-2 nopadding text-center">
        <select class="sknadSelect width-100 adselect slTinhThanh" name="TinhThanh03"></select>
    </div>
    <div class="col-md-2 text-center">
        <select class="sknadSelect width-100 adselect slQuanHuyen" name="QuanHuyen03"></select>
    </div>
    <div class="col-md-2 nopadding text-center">
        <select class="sknadSelect width-100 adselect slPhuongXa" name="PhuongXa03"></select>
    </div>
</div>



