 <div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <div class="syt-dynamic-div syt-dnm-lv2-tt53">                         
                <span>CƠ SỞ ĐƯỢC CẤP CHỨNG NHẬN</span>
                
            </div>
        </div>
    </div>
</div>



<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2  text-right syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Tên cơ sở </span>
            </div>
            <div class="col-md-4 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin"
                       name="TenCoSo" type="text" />
            </div>
            <div class="col-md-2  text-right syt-label">
            </div>
            <div class="col-md-2  text-right syt-label">
                <span class="sknadTitle-gray-normal font-size-13"> Số ĐKKD </span>
            </div>
            <div class="col-md-2 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin"
                       name="SoDKKD" type="text" />
            </div>
        </div>
    </div>
</div>
<div class="sytClearFix dnnClear"></div>
<div class="col-md-12 syt-dynamic-div syt-dnm-lv2-tt53">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2  text-right syt-label">
                <span class="sknadTitle-gray-normal line-height-1_1-Em font-size-13"> Trực thuộc (nếu trực thuộc công ty, bệnh viện…) </span>
            </div>
            <div class="col-md-4 nopadding">
                <input class="width-100 syt-radius-3 min-h-30 paddingMin"
                       name="TrucThuoc" type="text" />
            </div>
        </div>
    </div>
</div>


<div class="sytClearFix dnnClear"></div>
<div class="col-md-12">
    <div class="container-fluid">
        <div class="row mt-10 pr-15">
            <div class="col-md-2 text-right  syt-label">
                <div class="syt-dynamic-div syt-dnm-lv2-tt53">
                    <span class="sknadTitle-gray-normal font-size-13"> Địa chỉ </span>
                </div>
              
            </div>
            @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinDiaChi/_ThongTinDiaChi1_Row.cshtml")
            @Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinDiaChi/_SoNhaDuong1_Row.cshtml")
        </div>
    </div>
</div>
@Html.Partial("~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Views/Shared/HoSo/ThongTinNguoi/_DienThoaiEmail_Row.cshtml")

