<div class="col-md-12 mt-10">
    <div class="col-md-2   text-right  syt-label">
        <span class="sknadTitle-gray-normal font-size-13"> Lĩnh vực </span>
    </div>
    <div class="col-md-2 nopadding">
        <select class="sknadSelect width-100 adselect sl_Linh_Vuc" name="LinhVuc_Search">
        </select>
    </div>
    <div class="col-md-2  text-right  syt-label">
        <span class="sknadTitle-gray-normal font-size-13"> Tên thủ tục </span>
    </div>
    <div class="col-md-5 nopadding">
        <select class="sknadSelect width-100 adselect sl_Thu_Tuc" name="ThuTuc_Search">
        </select>
    </div>
</div>

<div class="sytClearFix-min dnnClear "></div>
<div class="col-md-12 mt-10">
    <div class="col-md-2  text-right  syt-label">
        <span class="sknadTitle-gray-normal font-size-13"> Số biên nhận </span>
    </div>
    <div class="col-md-2 nopadding">
        <input class="width-100 syt-radius-3 min-h-30 paddingMin" name="SoBienNhan_Search" type="text" />
    </div>
    <div class="col-md-2  text-right  syt-label">
        <span class="sknadTitle-gray-normal font-size-13"> Ngày nhận từ </span>
    </div>
    <div class="col-md-2 nopadding">
        <input class="width-100 syt-radius-3 min-h-30 paddingMin date-picker-from"
               name="NgayNhanTu_Search" type="text" />
    </div>
    <div class="col-md-1  text-right  syt-label">
        <span class="sknadTitle-gray-normal font-size-13"> đến </span>
    </div>
    <div class="col-md-2 nopadding">
        <input class="width-100 syt-radius-3 min-h-30 paddingMin date-picker-to"
               name="NgayNhanDen_Search" type="text" />
    </div>
</div>
<script src="~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Script/TraCuuPartial/fieldsearch_top.min.js?v=1.0.0"></script>