<div class="container-fluid mt-10">
    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="container-fluid mt-10">
            <div class="sytClearFix dnnClear"></div>
            <div class="strike">
                <span>THÔNG TIN HỒ SƠ</span>
            </div>
        </div>
    </div>

    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="container-fluid">
            <div class="row mt-10">
                <div class="col-md-3 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Số biên nhận </span>
                </div>
                <div class="col-md-3 syt-label">
                    <label class="sknadTitle-gray-bold font-size-13" name="KGQ_SoBienNhan" />
                </div>
                <div class="col-md-3 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Ngày nhận </span>
                </div>
                <div class="col-md-3  syt-label">
                    <label class="sknadTitle-gray-bold font-size-13" name="KGQ_NgayNhan" />
                </div>
            </div>
            <div class="row mt-10">
                <div class="col-md-3 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Họ tên người nộp </span>
                </div>
                <div class="col-md-3  syt-label">
                    <label class="sknadTitle-gray-bold font-size-13 bold" name="KGQ_HoTenNguoiNop" />
                </div>
                <div class="col-md-3 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Số giấy tờ </span>
                </div>
                <div class="col-md-3  syt-label">
                    <label class="sknadTitle-gray-bold font-size-13 " name="KGQ_SoGiayTo" />
                </div>
            </div>
            <div class="row mt-10 ">
                <div class="col-md-3 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Thủ tục </span>
                </div>
                <div class="col-md-9  yt-label">
                    <label class="sknadTitle-gray-bold font-size-13 bold" name="KGQ_ThuTuc" />
                </div>
            </div>
        </div>
    </div>

    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12">
        <div class="container-fluid mt-10">
            <div class="sytClearFix dnnClear"></div>
            <div class="strike">
                <span>THÔNG TIN KHÔNG GIẢI QUYẾT</span>
            </div>
        </div>
    </div>
    <div class="sytClearFix dnnClear"></div>
    <div class="col-md-12 div_khong_giai_quyet">
        <div class="container-fluid">
            <div class="row mt-10 ">
                <div class="col-md-3 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Lý do <span style="color:#FF0000;">*</span></span>
                </div>
                <div class="col-md-9 paddingMin">
                    <textarea class="width-100 syt-radius-3 min-h-60 paddingMin require" name="KGQ_LyDo" rows="4"></textarea>
                </div>
            </div>
            <div class="row mt-10">
                <div class="col-md-3 text-right  syt-label">
                    <span class="sknadTitle-gray-normal font-size-13"> Người nhận <span style="color:#FF0000;">*</span></span>
                </div>
                <div class="col-md-3 paddingMin">
                    <select class="sknadSelect width-100 adselect sl_KGQ_nguoi_nhan_index paddingMin require" name="KGQ_NguoiNhan"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="sytClearFix-19 dnnClear"></div>
    <div class="col-md-12">
        <div class="col-md-5"></div>
        <div class="col-md-2 text-center paddingMin">
            <input class="cursor-pointer sytButton sknadTitle-white width-100 btn_Thuc_Hien_KGQ"
                   type="button" value="Thực hiện" />
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
<!--Dev js-->
<script src="~/DesktopModules/MVC/SoYTe.GUI/NghiepVuModule/Script/hoso/hoso.khonggiaiquyet.min.js?v=1.0.0"></script>
<!---->
