 <div class="col-md-12">
    <div class="container-fluid mt-10">
        <div class="sytClearFix dnnClear"></div>
        <div class="strike">
            <span>PHẠM VI KINH DOANH VÀ ĐIỀU KIỆN HÀNH NGHỂ</span>
        </div>
    </div>
</div>


<div class="sytClearFix dnnClear"></div>
<div class="div_selpicker_parent">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2 nopadding">
                <div class="col-md-12  text-center syt-label nopadding">
                    <span class="sknadTitle-gray-normal font-size-13">
                        Phạm vi kinh doanh
                    </span>
                </div>
            </div>
            <div class="col-md-10">
                <div class="col-md-6">
                    <select class="selectpicker selectpicker_checkbox" multiple
                            name="HinhThucToChuc" data-data="data_Pham_vi_kinh_doanh"
                             data-width="100%"></select>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2 nopadding">

            </div>
            <div class="col-md-10">
                <div class="col-md-6">
                    <div class="ds_selectpicker"></div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
    <div class="sytClearFix dnnClear mt-10"></div>
</div>

<div class="sytClearFix dnnClear"></div>
<div class="div_selpicker_parent mt-10">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2 nopadding">
                <div class="col-md-12  text-center syt-label nopadding">
                    <span class="sknadTitle-gray-normal font-size-13">
                        Đủ điều kiện hành nghề
                    </span>
                </div>
            </div>
            <div class="col-md-10">
                <div class="col-md-6">
                    <select class="selectpicker selectpicker_checkbox" multiple
                            name="PhamViHoatDong" data-data="data_Pham_vi"
                             data-width="100%"></select>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2 nopadding">

            </div>
            <div class="col-md-10">
                <div class="col-md-6">
                    <div class="ds_selectpicker"></div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
    <div class="sytClearFix dnnClear mt-10"></div>
</div>

