@{
    Layout = "~/DesktopModules/MVC/SoYTe.GUI/TrangChuModule/Views/Shared/_Layout.cshtml";
}
@using DotNetNuke.Web.Client.ClientResourceManagement


<div class="syt-slider-bar">
    <div class="container">
        <img src="~/Portals/_default/Skins/AdminB3/img/home1/img1_u57.png" />
    </div>
</div>
<div class="syt-content">
    <div class="container">
            <div class="col-md-12">
            </div>
            <div class="sptClearFix"></div>
            <div class="sytClearFixBottom5"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 nopadding">
                        <div class="col-md-12 nopadding">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul>
                                        <li>
                                            <span class="sknadTitle">Hồ sơ đang xử lý</span>
                                            <ul class="ul-disc">
                                          
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-9">
                                    <div class="inner-addon right-addon">
                                        <i class="fa fa-search icon-serach btn_search cursor-pointer"></i>
                                        <input class="form-control syt-input-search input-sm" maxlength="120"
                                               placeholder="Tra cứu hồ sơ">
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 nopadding">
                        <div class="col-md-12 nopadding">
                            <div class="col-md-4 nopadding">
                                <div class="syt-box-dashboard">
                                    <div class="syt-dashboard-item cursor-pointer" id="nganhy">
                                        <div class="col-md-12 syt-dashboard-icon">
                                            <img src="~/Portals/_default/Skins/AdminB3/img/home1/u86.png" />
                                        </div>
                                        <br /><br /><br />
                                        <div class="sptClearFix clearfix"></div>
                                        <div class="sytClearFixBottom5 clearfix"></div>
                                        <div class="col-md-12">
                                            <span class="sknadTitle text-center">Ngành y</span>
                                        </div>
                                        <div class="sptClearFix"></div>
                                        <div class="sytClearFixBottom5"></div>
                                        <div class="col-md-12">
                                            <span class="sknadTitleNormal">Chứng chỉ hành nghề KCB 1.500</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="sknadTitleNormal">Giấy phép hoạt động KCB 878</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 nopadding">
                                <div class="syt-box-dashboard">
                                    <div class="syt-dashboard-item cursor-pointer" id="nganhduoc">
                                        <div class="col-md-12 syt-dashboard-icon">
                                            <img src="~/Portals/_default/Skins/AdminB3/img/home1/u91.png" />
                                        </div>
                                        <br /><br /><br />
                                        <div class="sptClearFix clearfix"></div>
                                        <div class="sytClearFixBottom5 clearfix"></div>
                                        <div class="col-md-12">
                                            <span class="sknadTitle text-center">Ngành dược</span>
                                        </div>
                                        <div class="sptClearFix"></div>
                                        <div class="sytClearFixBottom5"></div>
                                        <div class="col-md-12">
                                            <span class="sknadTitleNormal">
                                                Chứng chỉ hành nghề dược: 2.351
                                            </span>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="sknadTitleNormal">Giấy phép hoạt động KCB 878</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 nopadding">
                                <div class="syt-box-dashboard">
                                    <div class="syt-dashboard-item cursor-pointer" id="mypham">
                                        <div class="col-md-12 syt-dashboard-icon">
                                            <img src="~/Portals/_default/Skins/AdminB3/img/home1/u110.png" />
                                        </div>
                                        <br /><br /><br />
                                        <div class="sptClearFix clearfix"></div>
                                        <div class="sytClearFixBottom5 clearfix"></div>
                                        <div class="col-md-12">
                                            <span class="sknadTitle text-center">Mỹ phẩm</span>
                                        </div>
                                        <div class="sptClearFix"></div>
                                        <div class="sytClearFixBottom5"></div>
                                        <div class="col-md-12">
                                            <span class="sknadTitleNormal">
                                                Chứng chỉ hành nghề dược: 2.351
                                            </span>
                                        </div>
                                        <div class="col-md-12">
                                            <span class="sknadTitleNormal">Giấy phép hoạt động KCB 878</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 nopadding">
                            <div class="col-md-4 nopadding">
                                <div class="syt-box-dashboard">
                                    <div class="syt-dashboard-item cursor-pointer" id="hoithao">
                                        <div class="col-md-12 syt-dashboard-icon">
                                            <img src="~/Portals/_default/Skins/AdminB3/img/home1/u122.png" />
                                        </div>
                                        <br /><br /><br />
                                        <div class="sptClearFix clearfix"></div>
                                        <div class="sytClearFixBottom5 clearfix"></div>
                                        <div class="col-md-12">
                                            <span class="sknadTitle text-center">Hội thảo</span>
                                        </div>
                                        <div class="sptClearFix"></div>
                                        <div class="sytClearFixBottom5"></div>
                                        <div class="col-md-12">
                                            <span class="sknadTitleNormal">
                                                Hội thảo giới thiệu thuốc: 2.351
                                            </span>
                                        </div>
                                        @*<div class="col-md-12">
                        <span class="sknadTitleNormal">Giấy phép hoạt động KCB 878</span>
                    </div>*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 nopadding">
                                <div class="syt-box-dashboard">
                                    <div class="syt-dashboard-item cursor-pointer" id="hoso">
                                        <div class="col-md-12 syt-dashboard-icon">
                                            <img src="~/Portals/_default/Skins/AdminB3/img/home1/baocao.png" />
                                        </div>
                                        <br /><br /><br />
                                        <div class="sptClearFix"></div>
                                        <div class="sytClearFixBottom5"></div>
                                        <div class="col-md-12">
                                            <span class="sknadTitle text-center">Báo cáo</span>
                                        </div>
                                        <div class="sptClearFix"></div>
                                        <div class="sytClearFixBottom5"></div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 nopadding">
                                <div class="syt-box-dashboard">
                                    <div class="syt-dashboard-item cursor-pointer" id="thongke">
                                        <div class="col-md-12 syt-dashboard-icon">
                                            <img src="~/Portals/_default/Skins/AdminB3/img/home1/u134.png" />
                                        </div>
                                        <br /><br /><br />
                                        <div class="sptClearFix clearfix"></div>
                                        <div class="sytClearFixBottom5 clearfix"></div>
                                        <div class="col-md-12">
                                            <span class="sknadTitle text-center">Thống kê</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>
<div class="sytClearFix dnnClear"></div>
@{
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~/DesktopModules/MVC/SoYTe.GUI/TrangChuModule/Script/home.min.js?v=1.0.0");

    @*<script src="~/DesktopModules/MVC/SoYTe.GUI/TrangChuModule/Script/home.min.js"></script>*@
}